SECRET_KEY =

DEBUG =

NAME =
USER =
PASSWORD =
HOST =
PORT =

EMAIL_HOST_USER = 'your_email@yandex.ru'
EMAIL_HOST_PASSWORD = 'your-app-password'

EMAIL =
FIRST_NAME =
LAST_NAME =
PASSWORD_ADMIN =

CACHE_ENABLED =
LOCATION =