<!-- users/templates/users/register.html -->
{% extends 'catalog/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Регистрация</h1>
    <form method="post">
        {% if form.errors %}
            <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Регистрация</button>
        <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
