<!-- catalog/templates/catalog/product_list.html -->
{% extends 'catalog/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Каталог</h1>
        <p>Добро пожаловать в наш каталог!</p>
        <a href="{% url 'catalog:product_create' %}"
           class="btn btn-primary {% if not user.is_authenticated %}disabled{% endif %}">
            Добавить продукт
        </a>
    </div>
    <div class="row">
        {% for product in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"
                     style="height: 200px; object-fit: cover;">
                {% else %}
                <div class="bg-light p-5 text-center">Нет фото</div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-truncate">{{ product.description|truncatechars:100 }}</p>
                    <a href="{% url 'catalog:product_detail' product.id %}"
                       class="btn btn-primary {% if not user.is_authenticated %}disabled{% endif %}">
                        Посмотреть
                    </a>
                    {% if user.is_superuser or user == product.owner %}
                    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
                    {% endif %}

                    {% if user.is_superuser or user == product.owner or perms.catalog.delete_product %}
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
