<!-- catalog/templates/catalog/product_confirm_delete.html -->
{% extends 'catalog/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Действительно ли вы хотите удалить {{ object.name }}?</h1>
        <form method="post">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Отмена</a>
        </form>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}